body {
  margin: 0;
  background-color: #1F1D20;
}
/*index*/ 
.layout1 {
  display: grid; 
  grid-template-columns: 1fr 2fr 1fr;
  overflow-x: hidden;
  grid-template-rows: 70px repeat(4, auto) 70px;
  grid-template-areas:
  'header header header'
  'slideshow slideshow slideshow'
  'intro intro intro'
  'poster poster poster'
  'biljettknapp biljettknapp biljettknapp'
  'footer footer footer';
}
/*biljetter*/ 
.layout2 {
  display: grid; 
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 70px 300px auto auto 100px auto 70px;
  grid-template-areas:
  'header header header'
  'one one one'
  'two two two'
  'three three three'
  'four four four'
  'five five five'
  'footer footer footer';
}
/*handling*/ 
#layout3 { 
  min-width: 100%;
  background-color: #1F1D20;
  min-height: 100%;
  overflow-x: hidden;
  justify-items: center;
  align-items: center;
  display: grid;
  grid-auto-flow: dense rows;
  grid-template-rows: 70px 600px 300px 350px 350px 70px; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-areas:
  "header header header"
  "affisch text text"
  "line line line" 
  "card1 card2 card3"
  "card4 card5 card6"
  "footer footer footer"; }

/* Kontaktsidan */
.layout4 {
  display: grid; 
  grid-template-columns: 3fr 1fr;
  overflow-x: hidden;
  min-height: 100vh; /* Footern sitter längst ner */
  grid-template-rows: 70px repeat(7, auto) 70px;
  grid-template-areas:
  'header header'
  'rubrik text'
  'adress ad '
  'tel telefon'
  'epost post'
  'space space'
  'space space'
  'space space'
  'footer footer';
}
/* Countdown */
.one {
  grid-area: one;
  background-color: #1f1d20;
  color: #f7f0f0;
}
/* Filmposter */
.two {
  grid-area: two;
  background-color: #1f1f20;
  text-align: center;
  color: white;
  padding-left: 80px;
  padding-right: 80px;
  
}
/* Boka biljett */
.three {
  grid-area: three;
  background-color: #1f1f20;
  text-align: center;

  img { 
      width: 500px ;
      padding: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
  }
}
/* Strömmen titel */
.four {
  grid-area: four;
  background-color: #1f1f20;
  text-align: center;
}
.five {
  grid-area: five;
  background-color: #1f1f20;
  align-items: center;
}
.countdown { 
  display: flex; 
  justify-content: space-around; 
  text-align: center; 
  margin-bottom: 40%; 
}      
.day, 
.hour, 
.minute, 
.second { 
  font-size: 3rem; 
}       
.waiting { 
  height: 50vh; 
} 
#header { 
  grid-area: header;
  width: 100%;
  background-color: #811010;
      /* Navigation */ 
  
      .nav {  
  
      background-color: #811010; 
  
      grid-area: nav; 
  
      font-family: "IM Fell Double Pica SC", serif; 
  
      font-weight: 400; 
  
      font-style: normal; 
  
      font-size: 20px; 
  
  }   
  
   
  
  nav a { 
  
      text-decoration: none; 
  
      color: #f7f0f0; 
  
      text-transform: none; 
  
      transition: 0.25s ease; 
  
  } 
  
   
  
  .li { 
  
      list-style: none; 
  
      padding-left: 10px; 
  
      padding-right: 10px; 
  
      padding-top: 5px; 
  
  } 
  
   
  
  .ul { 
  
      display: flex; 
  
      list-style: none; 
  
      align-items: center; 
  
  } 
  
   
  
  nav:hover a { 
  
      color: #f7f0f0; 
  
  } 
  
   
  
  nav:hover a:hover { 
  
      color: #f7f0f0; 
  
      text-shadow: 
  
      0 0 7px #F7F0F0, 
  
      0 0 15px #F7F0F0, 
  
      0 0 25px #F7F0F0, 
  
      0 0 42px #F7F0F0, 
  
      0 0 82px #F7F0F0, 
  
      0 0 92px #F7F0F0, 
  
      0 0 110px #F7F0F0, 
  
      0 0 130px #F7F0F0; 
  
  } 
  }
#text{ 
      grid-area: text;
      padding: 40px;
      color: #F7F0F0;
  
  }
#affisch { 
  grid-area: affisch;
  background-color: #1F1D20;
  img { 
      height: 500px ;
      justify-content: left;
      padding: 20px;
  }
}
#line { 
  grid-area: line;
  justify-content: center;
  color: #F7F0F0;
  font-size: 80px;
}
#card1 { 
  grid-area: card1;
  .card {
      position: relative;
      width: 400px;
      height: 300px;
      background-color: #f2f2f2;
      border-radius: 10px;
      display: flex;
      align-items: center; /* This will center the image vertically */
      justify-content: center; /* This will center the image horizontally */
      overflow: hidden;
      perspective: 1000px;
      box-shadow: 0 0 0 5px #ffffff80;
      transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
    
    .card img {
      width: 380px;
      transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    .card img {
      width: 500px;
      padding-right: 50px;
      padding-top:0px ;
      transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      z-index: 1; /* This will place the image above the card content */
  }
  
  .card__content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 20px;
      box-sizing: border-box;
      background-color: #f2f2f2;
      transform: rotateX(-90deg);
      transform-origin: bottom;
      transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      z-index: 2; /* This will place the card content above the image */
  }
    .card:hover {
      transform: scale(1.05);
      box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
    }
    
    .card:hover .card__content {
      transform: rotateX(0deg);
    }
    
    .card__title {
      margin: 0;
      font-size: 24px;
      color: #333;
      font-weight: 700;
    }
    
    .card:hover svg {
      scale: 0;
    }
    
    .card__description {
      margin: 10px 0 0;
      font-size: 14px;
      color: #777;
      line-height: 1.4;
    }
}
#card2 { 
  grid-area: card2;
  .card {
      position: relative;
      width: 400px;
      height: 300px;
      background-color: #f2f2f2;
      border-radius: 10px;
      display: flex;
      align-items: center; /* This will center the image vertically */
      justify-content: center; /* This will center the image horizontally */
      overflow: hidden;
      perspective: 1000px;
      box-shadow: 0 0 0 5px #ffffff80;
      transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
    
    .card img {
      width: 380px;
      transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    .card img {
      width: 500px;
      padding-right: 50px;
      padding-top:200px ;
      transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      z-index: 1; /* This will place the image above the card content */
  }
  
  .card__content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 20px;
      box-sizing: border-box;
      background-color: #f2f2f2;
      transform: rotateX(-90deg);
      transform-origin: bottom;
      transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      z-index: 2; /* This will place the card content above the image */
  }
    .card:hover {
      transform: scale(1.05);
      box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
    }
    
    .card:hover .card__content {
      transform: rotateX(0deg);
    }
    
    .card__title {
      margin: 0;
      font-size: 24px;
      color: #333;
      font-weight: 700;
    }
    
    .card:hover svg {
      scale: 0;
    }
    
    .card__description {
      margin: 10px 0 0;
      font-size: 14px;
      color: #777;
      line-height: 1.4;
    }
}
#card3 { 
  grid-area: card3;
  .card {
      position: relative;
      width: 400px;
      height: 300px;
      background-color: #f2f2f2;
      border-radius: 10px;
      display: flex;
      align-items: center; /* This will center the image vertically */
      justify-content: center; /* This will center the image horizontally */
      overflow: hidden;
      perspective: 1000px;
      box-shadow: 0 0 0 5px #ffffff80;
      transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
    
    .card img {
      width: 380px;
      transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    .card img {
      width: 500px;
      padding-right: 50px;
      padding-top:0px ;
      transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      z-index: 1; /* This will place the image above the card content */
  }
  
  .card__content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 20px;
      box-sizing: border-box;
      background-color: #f2f2f2;
      transform: rotateX(-90deg);
      transform-origin: bottom;
      transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      z-index: 2; /* This will place the card content above the image */
  }
    .card:hover {
      transform: scale(1.05);
      box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
    }
    
    .card:hover .card__content {
      transform: rotateX(0deg);
    }
    
    .card__title {
      margin: 0;
      font-size: 24px;
      color: #333;
      font-weight: 700;
    }
    
    .card:hover svg {
      scale: 0;
    }
    
    .card__description {
      margin: 10px 0 0;
      font-size: 14px;
      color: #777;
      line-height: 1.4;
    }
}
#card4 { 
  grid-area: card4;
  .card {
      position: relative;
      width: 400px;
      height: 300px;
      background-color: #f2f2f2;
      border-radius: 10px;
      display: flex;
      align-items: center; /* This will center the image vertically */
      justify-content: center; /* This will center the image horizontally */
      overflow: hidden;
      perspective: 1000px;
      box-shadow: 0 0 0 5px #ffffff80;
      transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
    
    .card img {
      width: 380px;
      transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    .card img {
      width: 500px;
      padding-right: 50px;
      padding-top:0px ;
      transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      z-index: 1; /* This will place the image above the card content */
  }
  
  .card__content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 20px;
      box-sizing: border-box;
      background-color: #f2f2f2;
      transform: rotateX(-90deg);
      transform-origin: bottom;
      transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      z-index: 2; /* This will place the card content above the image */
  }
    .card:hover {
      transform: scale(1.05);
      box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
    }
    
    .card:hover .card__content {
      transform: rotateX(0deg);
    }
    
    .card__title {
      margin: 0;
      font-size: 24px;
      color: #333;
      font-weight: 700;
    }
    
    .card:hover svg {
      scale: 0;
    }
    
    .card__description {
      margin: 10px 0 0;
      font-size: 14px;
      color: #777;
      line-height: 1.4;
    }
}
#card5 { 
  grid-area: card5;
  .card {
      position: relative;
      width: 400px;
      height: 300px;
      background-color: #f2f2f2;
      border-radius: 10px;
      display: flex;
      align-items: center; /* This will center the image vertically */
      justify-content: center; /* This will center the image horizontally */
      overflow: hidden;
      perspective: 1000px;
      box-shadow: 0 0 0 5px #ffffff80;
      transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
    
    .card img {
      width: 380px;
      transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    .card img {
      width: 500px;
      padding-right: 50px;
      padding-top:0px ;
      transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      z-index: 1; /* This will place the image above the card content */
  }
  
  .card__content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 20px;
      box-sizing: border-box;
      background-color: #f2f2f2;
      transform: rotateX(-90deg);
      transform-origin: bottom;
      transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      z-index: 2; /* This will place the card content above the image */
  }
    .card:hover {
      transform: scale(1.05);
      box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
    }
    
    .card:hover .card__content {
      transform: rotateX(0deg);
    }
    
    .card__title {
      margin: 0;
      font-size: 24px;
      color: #333;
      font-weight: 700;
    }
    
    .card:hover svg {
      scale: 0;
    }
    
    .card__description {
      margin: 10px 0 0;
      font-size: 14px;
      color: #777;
      line-height: 1.4;
    }
}
#card6 { 
  grid-area: card6;
  .card {
      position: relative;
      width: 400px;
      height: 300px;
      background-color: #f2f2f2;
      border-radius: 10px;
      display: flex;
      align-items: center; /* This will center the image vertically */
      justify-content: center; /* This will center the image horizontally */
      overflow: hidden;
      perspective: 1000px;
      box-shadow: 0 0 0 5px #ffffff80;
      transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
    
    .card img {
      width: 380px;
      transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    .card img {
      width: 500px;
      padding-right: 50px;
      padding-top:0px ;
      transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      z-index: 1; /* This will place the image above the card content */
  }
  
  .card__content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 20px;
      box-sizing: border-box;
      background-color: #f2f2f2;
      transform: rotateX(-90deg);
      transform-origin: bottom;
      transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      z-index: 2; /* This will place the card content above the image */
  }
    .card:hover {
      transform: scale(1.05);
      box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
    }
    
    .card:hover .card__content {
      transform: rotateX(0deg);
    }
    
    .card__title {
      margin: 0;
      font-size: 24px;
      color: #333;
      font-weight: 700;
    }
    
    .card:hover svg {
      scale: 0;
    }
    
    .card__description {
      margin: 10px 0 0;
      font-size: 14px;
      color: #777;
      line-height: 1.4;
    }
}
.footer{ 
  grid-area:footer;
  width: 100%;
  background-color: #811010;
  text-align: center;
  background-color: #811010;
  color:#F7F0F0;
  font-family: "IM Fell Double Pica SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;

  } 
p { 
  
      padding-left: 20px; 
  
      padding-right: 20px; 
  
      font-family: "IM Fell Double Pica SC", serif; 
  
      font-weight: 400; 
  
      font-style: normal; 
  
      font-size: 20px; 
  
      color: #F7F0F0; 
  
      text-align: center; 
  
  } 
/* Knappen och det till forms */
.open-button {
  margin-top: 20px;
  background-color: #811010;
  color: white;
  padding: 15px 60px;
  border: none;
  cursor: pointer;
  font-family: "IM Fell Double Pica SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  font-style: normal;
  border-radius: 10px;
}
button:hover {
  background-color: #f9f9f9;
  color: #1f1f20;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}
/* Styling för själva popup-formuläret */
#popup-form {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 400px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 5px;
  z-index: 2;
  text-align: center;
}
.form-li {
  display: block;
  list-style: none;
  text-align: left;
  padding-left: 75px;
  padding-bottom: 20px;
  margin: 0 auto;
  font-family: "Yantramanav", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
}
.form-ul {
  list-style-type: none;
  text-align: center;
  font-family: "Yantramanav", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
}
/* Styling för stäng-knappen (X) */
#close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
  color: #1f1f20;
}
/* Styling för avsluta-knappen */
#submit-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #811010;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
p a {
  text-decoration: none;
  color: white;
  text-shadow:
  0 0 20px white;
}
p:hover a {
  text-shadow: 
  0 0 10px #811010, 
  0 0 20px #811010,
  0 0 30px #811010, 
  0 0 40px #811010, 
  0 0 70px #811010, 
  0 0 80px #811010, 
  0 0 100px #811010, 
  0 0 150px #811010;
}
/* Slideshow */
.slideshow {
  grid-area: slideshow;
  }
.slideshow-container {
      max-width: 100%;
       position: relative;
       margin: auto;
       
   }  
  /* Gör bilderna responsiva */
.mySlides img {
      width: 100%;
    }
    /* Nästa och föregående knappar */
.prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
    /* Positionera "nästa knapp" till höger */
.next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    /* Vid hovring, lägg till en svart bakgrund med lite genomskinlighet */
.prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }
.intro {
      grid-area: intro;
      text-align: center;
      font-family: "IM Fell Double Pica SC", serif;
      font-weight: 400;
      font-style: normal;
      color: #f7f0f0;
    }
.poster {
      grid-area: poster;
      display: flex;
      justify-content: center;
    }
.biljettknapp {
      grid-area: biljettknapp;
      display: flex;
      justify-content: center;
      margin-top: 2%;
      margin-bottom: 2%;
      font-family: "IM Fell Double Pica SC", serif;
      font-weight: 400;
      font-style: normal;
    }
.biljettbutton {
      margin-top: 20px;
         background-color: #811010;
         color: white;
         padding: 15px 60px;
         border: none;
         cursor: pointer;
         font-family: "IM Fell Double Pica SC", serif;
         font-weight: 400;
         font-style: normal;
         font-size: 25px;
         font-style: normal;
         border-radius: 10px;
         text-decoration: none;
     }
.biljettbutton:hover {
         background-color: #f9f9f9;
         color: #1f1f20;
         border-radius: 10px;
         transition: background-color 0.3s ease;
     }
/* Kontaktsidan */

.rubrik{
  grid-area: rubrik;
  margin-left: 20%;
  color:#F7F0F0;
  font-family: "IM Fell Double Pica SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
 }

 .adress {
  grid-area: adress;
  margin-left: 20%;
  font-family: "IM Fell Double Pica SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
 }


 .tel {
  grid-area: tel;
  margin-left: 20%;
  font-family: "IM Fell Double Pica SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
 }

 .epost {
  grid-area: epost;
  margin-left: 20%;
  font-family: "IM Fell Double Pica SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
 }

 .adress a, .tel a, .epost a {
  text-decoration: none; 
  color: #f7f0f0; 
  text-transform: none; 
  transition: 0.25s ease; 
}

.adress a:hover, .tel a:hover, .epost a:hover {
  color: #f7f0f0; 
  text-shadow: 
  0 0 7px #F7F0F0, 
  0 0 15px #F7F0F0, 
  0 0 25px #F7F0F0, 
  0 0 42px #F7F0F0, 
  0 0 82px #F7F0F0, 
  0 0 92px #F7F0F0, 
  0 0 110px #F7F0F0, 
  0 0 130px #F7F0F0; 
}

     
@media (max-width: 1200px) {
.layout1 {
  width:100%; 
  grid-template-rows: 70px repeat(4, auto) 70px;
  grid-template-columns: 1fr; 
  grid-template-areas:
  'header'
  'slideshow'
  'intro'
  'poster'
  'biljettknapp'
  'footer';
} 
.layout2 { 
  width:100%; 
  grid-template-rows: 70px 300px 450px 650px 100px 100px 70px;
  grid-template-columns: 1fr;
  grid-template-areas:
  'header'
  'one'
  'two'
  'three'
  'four'
  'five'
  'footer';
}
#layout3{
          width: 100%;
          grid-template-rows: 70px 600px auto repeat(7, 350px) 70px; /* Changed 300px to auto */
          grid-template-columns: 1fr;
          grid-template-areas:
              "header"
              "affisch"
              "text"
              "line"
              "card1"
              "card2"
              "card3"
              "card4"
              "card5"
              "card6"
              "footer";
  }
#affisch, #text, #card1, #card2, #card3, #card4, #card5, #card6 {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap; /* Add this to allow the items to wrap if they can't fit */
  }} 
.layout4 {
        grid-template-columns: 1fr;
        grid-template-areas:
        'header'
        'rubrik'
        'adress'
        'tel'
        'epost'
        'space'
        'space'
        'space'
        'footer';
}
  
/* All typ av text */

h2 {
  text-align: center;
  font-family: "IM Fell Double Pica SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}
h4 { 
  color: #F7F0F0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  margin-top: 8px;
}

h3 {
  color: #F7F0F0;
  font-family: "IM Fell Double Pica SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin-top: 8px;
}
.p1{ 
color: #F7F0F0;
}
p {
  padding-left: 20px;
  padding-right: 20px;
  font-family:"Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #F7F0F0;
  text-align: center;
}

.titel {
  text-align: center;
  font-family: "IM Fell Double Pica SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  text-shadow: 
  0 0 10px #811010, 
  0 0 20px #811010,
  0 0 30px #811010, 
  0 0 40px #811010, 
  0 0 70px #811010, 
  0 0 80px #811010, 
  0 0 100px #811010, 
  0 0 150px #811010;
}
.titel2 {
  text-align: center;
  font-family: "IM Fell Double Pica SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  text-shadow: 
  0 0 10px #811010, 
  0 0 20px #811010,
  0 0 30px #811010, 
  0 0 40px #811010, 
  0 0 70px #811010, 
  0 0 80px #811010, 
  0 0 100px #811010, 
  0 0 150px #811010;
}

h5 { 
  font-family: "IM Fell Double Pica SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin-bottom: 20px;
}



